<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Assume Keycloaker</string>
	<key>CFBundleExecutable</key>
	<string>AssumeKeycloaker</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.gtalmor.AssumeKeycloaker</string>
	<key>CFBundleName</key>
	<string>Assume Keycloaker</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.gtalmor.AssumeKeycloaker.invite</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>assume-keycloaker</string>
				<string>assume-cloaker</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>0.2.0</string>
	<key>LSMinimumSystemVersion</key>
	<string>15.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Keeps Keycloak (saml2aws) and AWS SSO sessions alive.</string>
</dict>
</plist>
